body {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 80%;
    background-color: gray;
}

.container {
    width: 40%;
    background-color: white;
    margin-top: 40px;
    margin-left: 400px;
    padding-bottom: 80%;
    padding-left: 10px;
    padding-right: 10px;


}

img {
    max-width: 100%;
    max-height: 100%;
}

.picture {
    width: 200px;
    height: 300px;
    padding: 20px;

    h3 {
        font-family: serif;
    }

    p {
        font-size: xx-small;
        font-display: flex;
    }
}

.time {
    background-color: gray;
}
    dt{
        font-size:x-small;
        color: rgb(252, 252, 208);
    }
       
    

    dd {
        font-size: x-small;
        font-family: 'Times New Roman', Times, serif;
    }

.Ing {
    font-size: xx-small;
    font-family:monospace
}

.list {
    font-size: xx-small;
}

.ordered {
    font-size: xx-small;
}
.demo{
    font-size: xx-small;
    font-family: monospace;
}
.ordered{
    font-size: x-small;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.table{
     border: 1px solid black;
     th{
        border: 1px solid black;
     }
     td{
        border:1px solid black ;
     }
}
.nuti{
    font-family: serif;
    font: bolder;
}
